@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&display=swap");
h1 {
  font-size: 35px;
}

h2 {
  font-size: 25px;
}

p {
  font-size: 17px;
}

html {
  margin: 0;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background-color: rgb(17, 17, 69);
}

/***** ANIMATION DRAPEAUX *********/
#premier_cercle {
  width: 100px;
  height: 100px;
  border: solid 1px blue;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #f2f2f2;
  position: relative;
}
.center .flags {
  margin: 0;
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.center .flags .flag {
  width: 250px;
  height: 165px;
  background-size: 100% 100%;
  background-position: center;
  position: relative;
  background-repeat: no-repeat;
}
.center .flags .flag #un, .center .flags .flag #deux, .center .flags .flag #trois, .center .flags .flag #quatre, .center .flags .flag #cinq {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
}
.center .flags .flag #un {
  background-color: #002395;
}
.center .flags .flag #deux {
  background-color: #FFCD00;
}
.center .flags .flag #trois {
  background-color: #009B3A;
}
.center .flags .flag #quatre {
  background-color: #EE1C25;
  opacity: 0;
}
.center .flags .flag #cinq {
  background-color: #000000;
}

.allanneaux {
  position: absolute;
}
.allanneaux #anneaux {
  position: absolute;
  opacity: 0;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
}
.allanneaux .anneau1 {
  border: 0.2px solid #002395;
}
.allanneaux .anneau2 {
  border: 0.2px solid #009B3A;
}
.allanneaux .anneau3 {
  border: 0.2px solid #EE1C25;
}
.allanneaux .anneau4 {
  border: 0.2px solid #FFCD00;
}
.allanneaux .anneau5 {
  border: 0.2px solid #000000;
}

.flag:nth-child(1) {
  background-image: url("https://flagcdn.com/w320/fr.png");
}

.flag:nth-child(2) {
  background-image: url("https://flagcdn.com/w320/us.png");
}

.flag:nth-child(3) {
  background-image: url("https://flagcdn.com/w320/de.png");
}

.flag:nth-child(4) {
  background-image: url("https://flagcdn.com/w320/au.png");
}

.flag:nth-child(5) {
  background-image: url("https://flagcdn.com/w320/jp.png");
}

.flag:nth-child(6) {
  background-image: url("https://flagcdn.com/w320/at.png");
}

.flag:nth-child(7) {
  background-image: url("https://flagcdn.com/w320/be.png");
}

.flag:nth-child(8) {
  background-image: url("https://flagcdn.com/w320/br.png");
}

.flag:nth-child(9) {
  background-image: url("https://flagcdn.com/w320/ca.png");
}

.flag:nth-child(10) {
  background-image: url("https://flagcdn.com/w320/cm.png");
}

.flag:nth-child(11) {
  background-image: url("https://flagcdn.com/w320/cn.png");
}

.flag:nth-child(12) {
  background-image: url("https://flagcdn.com/w320/cu.png");
}

.flag:nth-child(13) {
  background-image: url("https://flagcdn.com/w320/it.png");
}

.flag:nth-child(14) {
  background-image: url("https://flagcdn.com/w320/ng.png");
}

.flag:nth-child(15) {
  background-image: url("https://flagcdn.com/w320/pt.png");
}

.flag:nth-child(16) {
  background-image: url("https://flagcdn.com/w320/kr.png");
}

.flag:nth-child(17) {
  background-image: url("https://flagcdn.com/w320/ch.png");
}

.flag:nth-child(18) {
  background-image: url("https://flagcdn.com/w320/cd.png");
}

.flag:nth-child(19) {
  background-image: url("https://flagcdn.com/w320/gb.png");
}

.flag:nth-child(20) {
  background-image: url("https://flagcdn.com/w320/dk.png");
}

.flag:nth-child(21) {
  background-image: url("https://flagcdn.com/w320/cy.png");
}

.flag:nth-child(22) {
  background-image: url("https://flagcdn.com/w320/cz.png");
}

.flag:nth-child(23) {
  background-image: url("https://flagcdn.com/w320/hr.png");
}

.flag:nth-child(24) {
  background-image: url("https://flagcdn.com/w320/co.png");
}

.flag:nth-child(25) {
  background-image: url("https://flagcdn.com/w320/ec.png");
}

.flag:nth-child(26) {
  background-image: url("https://flagcdn.com/w320/eg.png");
}

.flag:nth-child(27) {
  background-image: url("https://flagcdn.com/w320/fi.png");
}

.flag:nth-child(28) {
  background-image: url("https://flagcdn.com/w320/jm.png");
}

.flag:nth-child(29) {
  background-image: url("https://flagcdn.com/w320/lu.png");
}

.flag:nth-child(30) {
  background-image: url("https://flagcdn.com/w320/pl.png");
}

/* frise */
.etapes {
  display: flex;
  width: 400vw;
  background-color: rgb(17, 17, 69);
  height: 500px;
  margin: 20rem 0 20rem 0;
}
.etapes::before {
  content: "";
  width: 50vw;
  height: 2px;
  z-index: 1;
  background-color: white;
  position: absolute;
  bottom: 45px;
  left: 0;
}
.etapes .etape {
  flex: 0 0 100vw;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  padding-top: 50px;
  position: relative;
}
.etapes .etape .etapeContent {
  width: 40%;
  min-width: 350px;
  z-index: 1;
}
.etapes .etape .etapeContent .titreEtape h2 {
  font-family: "Big Shoulders Stencil", sans-serif;
  font-size: var(--titre);
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 10px;
}
.etapes .etape .etapeContent .titreEtape p {
  margin: 0;
}
.etapes .etape .cercleEtape {
  opacity: 0.5;
  width: 700px;
  height: 700px;
  display: flex;
  position: absolute;
  bottom: -50px;
  justify-content: center;
  align-items: flex-end;
}
.etapes .etape .cercleEtape svg {
  width: 40%;
  height: 40%;
  transform-origin: center center;
}
.etapes .etape .cercleEtape img {
  width: 40%;
  height: 40%;
  transform-origin: center center;
  border-radius: 50%;
  opacity: 0.3;
  -o-object-fit: cover;
     object-fit: cover;
}

/* Podium */
.podium-section {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: white;
  padding: 5rem 0;
}
.podium-section .infos_bmx {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 100%;
}
.podium-section .infos_bmx p {
  flex-grow: 1;
  padding: 10px;
  width: 80%;
}
.podium-section .infos_bmx img {
  width: 80%;
  border-radius: 20px;
}
.podium-section .podium-container {
  display: flex;
  justify-content: flex-end;
  align-items: end;
}
.podium-section .podium-container .podium {
  display: flex;
  flex-direction: column;
  max-height: 500px;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}
.podium-section .podium-container .podium .podium-argent {
  border-radius: 15px;
  background-color: navy;
  height: 50px;
  width: 150px;
}
.podium-section .podium-container .podium .podium-or {
  background-color: white;
  border-radius: 15px;
  border: 1px solid black;
  height: 50px;
  width: 150px;
}
.podium-section .podium-container .podium .podium-bronze {
  background-color: red;
  border-radius: 15px;
  height: 50px;
  width: 150px;
}

/* leon marchand */
.leon-section {
  width: 100%;
  height: 60rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  overflow: hidden;
  color: white;
  padding-top: 3rem;
  position: relative;
}
.leon-section .leonInfos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 40%;
  padding: 30px 0 50px 20%;
}
.leon-section .disciplines {
  display: flex;
  padding-left: 10%;
  align-items: center;
}
.leon-section .disciplines .medaille {
  width: 200px;
  height: 200px;
}
.leon-section .disciplines .medaille img {
  width: 100%;
  aspect-ratio: contain;
}
.leon-section .disciplines .disContainer {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.leon-section .disciplines .disContainer .rotator {
  list-style: none;
  display: flex;
  flex-direction: column;
  margin: 0;
}
.leon-section .disciplines .disContainer .rotator .discipline {
  height: 120px;
}
.leon-section .disciplines .disContainer .rotator .discipline h2 {
  color: #eacb77;
  margin-bottom: 0;
}
.leon-section .disciplines .disContainer .rotator .discipline .performance {
  display: flex;
  align-items: center;
}
.leon-section .disciplines .disContainer .rotator .discipline .performance i {
  font-size: 30px;
  padding-right: 10px;
}
.leon-section #leonPhoto {
  height: 900px;
  position: absolute;
  top: 20px;
  left: 60%;
}

/**** FOOTER ***/
footer {
  width: 100%;
  height: 400px;
  background-image: url("img/footerJO.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top left;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  left: 0;
  color: #111145;
}
footer .footnote {
  width: 100%;
  padding-left: 15px;
}
footer .copyright {
  display: flex;
  color: rgb(17, 17, 69);
  font-size: 15px;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  #leonPhoto {
    height: 700px;
    top: auto;
    bottom: 0;
  }
}
@media screen and (max-width: 800px) {
  .cercleEtape img {
    width: 20%;
    height: 20%;
    transform-origin: center center;
    border-radius: 50%;
    opacity: 0.3;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .etape {
    padding-top: 0;
  }
  .podium-section {
    flex-direction: column;
  }
  .infos_bmx {
    width: auto;
  }
  .podium-argent {
    width: 110px;
  }
  .podium-or {
    width: 110px;
  }
  .podium-bronze {
    width: 110px;
  }
  .podium-container {
    padding-top: 30px;
    margin: 0 auto;
  }
  .medaille {
    width: 100px;
    height: 100px;
  }
  .flag {
    width: 100px;
    height: 60px;
  }
  .leon-section {
    height: 70rem;
  }
  .leon-section #leonPhoto {
    top: 500px;
    left: 50%;
  }
}
@media screen and (max-width: 450px) {
  .flag {
    width: 125px;
    height: 85px;
  }
  .center {
    overflow: hidden;
  }
  .etapes {
    flex-direction: column;
    width: 100%;
    height: auto;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 10rem 0 10rem 20px;
    overflow-x: hidden;
  }
  .etapes::before {
    content: "";
    width: 0px;
    height: 0px;
    z-index: 1;
    background-color: none;
    position: absolute;
    top: 45px;
    left: 0;
  }
  .etapes .etape {
    width: 100%;
    padding-top: 80px;
  }
  .etapes .etape .cercleEtape {
    opacity: 0.5;
    width: 700px;
    height: 700px;
    display: flex;
    position: absolute;
    bottom: 80%;
    justify-content: center;
    align-items: flex-end;
  }
  .podium-section {
    flex-direction: column;
  }
  .podium-section .infos_bmx {
    width: auto;
  }
  .podium-section .podium-container {
    padding-top: 30px;
  }
  .podium-section .podium-container .podium-argent {
    width: 110px;
  }
  .podium-section .podium-container .podium-or {
    width: 110px;
  }
  .podium-section .podium-container .podium-bronze {
    width: 110px;
  }
  .leon-section {
    height: 70rem;
  }
  .leon-section .leonInfos {
    width: 80%;
    padding-left: 0;
    margin: 0 auto;
  }
  .leon-section .disciplines {
    padding-left: 0;
  }
  .leon-section #leonPhoto {
    left: 25%;
    top: auto;
    bottom: -20px;
  }
  footer {
    height: 300px;
  }
  footer .footnote {
    font-size: 15px;
  }
}/*# sourceMappingURL=style.css.map */