@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil:opsz,wght@10..72,100..900&display=swap');


body {
    margin: 0;
    padding: 0;
    min-height: 100vh; /* Assure un défilement vertical */
    font-family: 'Montserrat',sans-serif;
    overflow-x: hidden;
}

#premier_cercle{
    width: 100px;
    height: 100px;
    border: solid 1px blue;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.svg_vague{
    position: absolute;
    bottom: 20%;

}

    
.flags{
    margin: 0;
    display: none;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}
.flag {
width: 250px;
height: 165px;
background-size: 100% 100%;
background-position: center;
position: relative;
background-repeat: no-repeat;
}
#un{
    width: 50px;
    height: 50px;
    background-color: #002395;
    border-radius: 50%;
    position: absolute;
    top: 8%;
    left: 3%;
    opacity: 0;
}

#deux{
    width: 50px;
    height: 50px;
    background-color: #FFCD00;
    border-radius: 50%;
    position: absolute;
    top: 10%;
    left: 50%;
}
#trois{
    width: 50px;
    height: 50px;
    background-color: #009B3A;
    border-radius: 50%;
    position: absolute;
    top: 5%;
    left: 5%;
}

#quatre{
    width: 50px;
    height: 50px;
    background-color: #EE1C25;
    border-radius: 50%;
    position: absolute;
    top: 30%;
    left:75%;
}

#cinq{
    width: 50px;
    height: 50px;
    background-color: #000000;
    border-radius: 50%;
    position: absolute;
    top: 98%;
    left:20%;
}

.cercles{
    opacity: 0;
}
.flag:nth-child(1) { background-image: url('https://flagcdn.com/w320/fr.png'); }
.flag:nth-child(2) { background-image: url('https://flagcdn.com/w320/us.png'); }
.flag:nth-child(3) { background-image: url('https://flagcdn.com/w320/de.png'); }
.flag:nth-child(4) { background-image: url('https://flagcdn.com/w320/au.png'); }
.flag:nth-child(5) { background-image: url('https://flagcdn.com/w320/jp.png'); }
.flag:nth-child(6) { background-image: url('https://flagcdn.com/w320/at.png'); }
.flag:nth-child(7) { background-image: url('https://flagcdn.com/w320/be.png'); }
.flag:nth-child(8) { background-image: url('https://flagcdn.com/w320/br.png'); }
.flag:nth-child(9) { background-image: url('https://flagcdn.com/w320/ca.png'); }
.flag:nth-child(10) { background-image: url('https://flagcdn.com/w320/cm.png'); }
.flag:nth-child(11) { background-image: url('https://flagcdn.com/w320/cn.png'); }
.flag:nth-child(12) { background-image: url('https://flagcdn.com/w320/cu.png'); }
.flag:nth-child(13) { background-image: url('https://flagcdn.com/w320/it.png'); }
.flag:nth-child(14) { background-image: url('https://flagcdn.com/w320/ng.png'); }
.flag:nth-child(15) { background-image: url('https://flagcdn.com/w320/pt.png'); }
.flag:nth-child(16) { background-image: url('https://flagcdn.com/w320/kr.png'); }
.flag:nth-child(17) { background-image: url('https://flagcdn.com/w320/ch.png'); }
.flag:nth-child(18) { background-image: url('https://flagcdn.com/w320/cd.png'); }
.flag:nth-child(19) { background-image: url('https://flagcdn.com/w320/gb.png'); }
.flag:nth-child(20) { background-image: url('https://flagcdn.com/w320/dk.png'); }
.flag:nth-child(21) { background-image: url('https://flagcdn.com/w320/cy.png'); }
.flag:nth-child(22) { background-image: url('https://flagcdn.com/w320/cz.png'); }
.flag:nth-child(23) { background-image: url('https://flagcdn.com/w320/hr.png'); }
.flag:nth-child(24) { background-image: url('https://flagcdn.com/w320/co.png'); }
.flag:nth-child(25) { background-image: url('https://flagcdn.com/w320/ec.png'); }
.flag:nth-child(26) { background-image: url('https://flagcdn.com/w320/eg.png'); }
.flag:nth-child(27) { background-image: url('https://flagcdn.com/w320/fi.png'); }
.flag:nth-child(28) { background-image: url('https://flagcdn.com/w320/jm.png'); }
.flag:nth-child(29) { background-image: url('https://flagcdn.com/w320/lu.png'); }
.flag:nth-child(30) { background-image: url('https://flagcdn.com/w320/pl.png'); }






/* Podium */


.podium-container {
    display:flex;
    justify-content: center;
    align-items: end;
    margin-bottom: 300px;
}

.podium {
    display: flex;    
    flex-direction: column;
    max-height: 500px;
    justify-content: center;
    align-items: center;
}

.podium-argent {
    border-radius: 15px;
    background-color: navy;
    height: 50px;
    width: 150px;
}

.podium-or {
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
    height: 50px;
    width: 150px;
}

.podium-bronze {
    background-color: red;
    border-radius: 15px;
    height: 50px;
    width: 150px;
}